<ion-view view-title="Status" name="status-view">
  <ion-content class="padding">
      <div class="list">

        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Student
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Parent
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Teacher
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

      </div>
      <button class="button button-block button-calm" ng-click="status()">Submit</button>
  </ion-content>
</ion-view>