<ion-view view-title="Account">
  <ion-content>
    <div class="list">

      <a class="item item-avatar" href="#">
        <img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>First Last</h2>
        <p>Student</p>
      </a>

      <div class="item item-divider">
        Strengths
      </div>

      <a class="item" href="#">
        Realistic
      </a>
      <a class="item" href="#">
        Investigative
      </a>
      <a class="item" href="#">
        Conventional
      </a>

      <div class="item item-divider">
        Projects
      </div>

      <a class="item" href="#">
        Arduino
      </a>
      <a class="item" href="#">
        Raspberry Pi
      </a>
      <a class="item" href="#">
        Dancing Yeti
      </a>

    </div>

    <button class="button button-block button-positive">
      Update Strengths
    </button>

    <button class="button button-block button-assertive">
		  Sign Out
		</button>
  </ion-content>
</ion-view>
