/* Empty. Add your own CSS if you like */

.indented {
	text-indent: 40px;
}

.superfill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.scroll {
	height: 100%;
}